@media screen and (max-width: 768px) {
  .container {
    .products {
      margin-top: 56px;
      height: 58.5vh;
      background: var(--Accent);
      overflow-y: scroll;
      .cards {
        display: flex;
        width: 91vw;
        border-radius: 8px;
        background-color: var(--Bright);
        margin: 0 auto;
        margin-top: 16px;

        .prodDesc {
          display: flex;
          flex-direction: column;
        }

        .separator {
          width: 95vw;
          height: 1px;
          background: var(--Seperator);
        }
      }
    }
    .bg {
      width: 100vw;
      transform: translateY(-10px);
    }
  }
}

@media screen and (min-width: 769px) {
  .container {
    .bg {
      display: none;
    }
  }
}
