@media screen and (max-width: 768px) {
  .container {
    .label {
      display: none;
    }
    .products {
      margin-top: 7vh;
      height: 58.5vh;
      background: var(--Accent);
      overflow-y: scroll;
      .cards {
        width: 91vw;
        max-width: 462px;
        border-radius: 8px;
        background-color: var(--Bright);
        margin: 0 auto;
        margin-top: 16px;
        position: relative;

        .imgAndDesc {
          display: flex;
          flex-direction: row;
          img {
            margin: 8px 0 0 9px;
            width: 29vw;
            max-width: 145px;
            height: 29vw;
            max-height: 145px;
            margin-bottom: 11px;
          }

          .prodDesc {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: 8px 0 14px 11px;
            width: auto;

            .name {
              color: var(--TypeHighEmphasis);
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 16px;
              margin-bottom: 2px;
              width: 120px;
            }

            .desc {
              color: var(--TypeLowEmphasis);
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px;
              width: 120px;
              margin-bottom: 7px;
            }

            .qtyContainer {
              display: inline-flex;
              gap: 5px;
              border-radius: 4px;
              background: var(--Grey);
              padding: 2px 3px 2px 5px;
              width: 15vw;
              max-width: 50.4px;
              margin-bottom: 9px;

              .qty {
                color: var(--TypeLowEmphasis);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
              }
              span {
                color: var(--TypeHighEmphasis);
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px;
              }
            }

            .priceContainer {
              display: inline-flex;
              gap: 6px;
              width: 42.3vw;
              h2 {
                color: var(--TypeHighEmphasis);
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
              }

              .originPrice {
                color: var(--TypeLowEmphasis);
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
              }

              .off {
                color: #e21d1d;

                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
              }
            }
          }
        }
        .separator {
          width: 86.6vw;
          max-width: 434.7px;
          margin: 0 auto;
          height: 1px;
          background: var(--Seperator);
        }

        .btns {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 11.5px;

          .wish {
            width: 136px;
            padding: 10px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: rgba(23, 73, 77, 0);
            color: var(--Primary);
            text-align: center;

            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }

          .column {
            width: 1px;
            height: 24px;
            flex-shrink: 0;
            background: var(--Seperator);
            margin-top: 6px;
          }

          .remove {
            width: 136px;
            padding: 10px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: var(--Primary);
            text-align: center;
            background: rgba(23, 73, 77, 0);
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }
    }
    .bg {
      width: 100vw;
      transform: translateY(-10px);
    }

    .order {
      display: flex;
      flex-direction: column;
      margin: 7px 16px 70px;
      gap: 8px;

      h2 {
        color: var(--TypeHighEmphasis);
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
      }

      div {
        display: inline-flex;
        justify-content: space-between;

        p {
          color: var(--TypeLowEmphasis);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
        }

        span {
          color: var(--TypeHighEmphasis);
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 16px;
      gap: 18px;

      div {
        p {
          color: var(--TypeLowEmphasis);
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
        }
        span {
          color: var(--TypeHighEmphasis);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }

      button {
        border-radius: 8px;
        background: var(--Primary);
        width: 57.7vw;
        align-items: center;

        color: var(--Bright);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 710px;
    height: 466px;
    overflow: hidden;
    margin-left: 20px;
    .label {
      display: flex;
      justify-content: space-between;
    }
    .bg {
      display: none;
    }
  }
}
