@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_left_mob {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-left: 16px;
    }
    h1 {
      color: var(--Primary);
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
    }
    .header_right_mob {
      display: flex;
      gap: 24px;
      padding-right: 16px;

      button {
        background: none;
      }
    }
    .header_left_desktop,
    .header_right_desktop {
      display: none;
    }
  }
}
@media only screen and (min-width: 769px) {
  .header_left_mob,
  .header_right_mob {
    display: none;
  }
  .header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header_left_desktop {
      display: flex;
      img {
        margin: 0 32px 0 20px;
      }

      ul {
        display: none;
      }

      a {
        text-decoration: none;
        color: var(--TypeHighEmphasis);
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }
    }
    .header_right_desktop {
      display: flex;

      button {
        background: none;
      }

      div {
        position: relative;
        padding-right: 24px;

        input {
          width: 28.28vw;
          height: 44px;
          flex-shrink: 0;
          border-radius: 4px;
          background: var(--Grey);
          padding: 13px 40px;
          border: 0;
        }
        input::placeholder {
          font-size: 14px;
          font-style: normal;

          font-weight: 500;
          line-height: 18px;
          color: var(--TypeLowEmphasis);
        }
        .searchDk {
          position: absolute;
          left: 8px;
          top: 10px;
        }
      }
      nav {
        display: flex;
        grid-gap: 20px;
        padding-right: 16px;
        align-items: center;
      }
    }
  }
}

@media only screen and (min-width: 1166px) {
  .header {
    .header_left_desktop {
      ul {
        display: flex;
        gap: 20px;
        padding-right: 8px;
      }
    }
  }
}
