.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  .payment {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  .box {
    width: 15vw;
    height: 143px;
    border-radius: 12px;
    border: 1px solid var(--Box);
    background: var(--Bright);

    .credit {
      color: var(--TypeHighEmphasis);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 17px;
    }

    .upi {
      color: var(--TypeHighEmphasis);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 10px;
    }

    .apple {
      color: var(--TypeHighEmphasis);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 10px;
    }

    .amazon {
      color: var(--TypeHighEmphasis);
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 14px;
    }

    .content {
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;
      padding-top: 12px;
    }

    .center {
      padding-top: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.contentPay {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--Primary);
  width: 500px;
  margin-top: 63px;
}

.method {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11px;

  .debitCard {
    width: 52px;
    height: 52px;
  }

  img {
    cursor: pointer;
  }
}

.nameMethod {
  display: flex;
  align-items: center;
  gap: 11px;
  cursor: pointer;

  .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 69px;
    border-radius: 7px;
    border: 1px solid var(--ImgBox);
    background: var(--Bright);
  }

  span {
    color: var(--TypeHighEmphasis);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  img {
    width: 52px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    justify-content: center;
    .box {
      width: 160px;
      height: 143px;
      border-radius: 12px;
      border: 1px solid var(--Box);
      background: var(--Bright);
    }
  }
}

