<<<<<<< HEAD
@media screen and (min-width: 769px){
    .wrapper{
        display: flex;
        flex-direction: row;
    }    
}
=======
@media screen and (min-width: 769px) {
  .wrapper {
    display: flex;
    flex-direction: row;
  }
}
>>>>>>> feat/CVS-22
