@media screen and (max-width: 768px) {
  .ShortCut {
    display: flex;
    align-items: center;
    width: 91vw;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-right: 9px;
    border-radius: 8px;
    background: var(--Primary);
    max-width: 400px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 28.88vw;
      max-width: 104px;
      height: 104px;
      margin: 8px;
      border-radius: 8px;
      background: var(--Icon);

      img {
        width: 13.61vw;
        max-width: 49px;
        height: 22.77vw;
        max-height: 82px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        display: flex;
        max-width: 195px;
        flex-direction: column;
        justify-content: center;
        color: var(--Bright);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }

      .redirect {
        display: flex;
        flex-direction: row;
        gap: 0;
        margin: 0px;

        h3 {
          display: flex;
          width: 95px;
          flex-direction: column;
          justify-content: center;
          color: var(--Bright);
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 20px;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .ShortCut {
    display: none;
  }
}