.container, .title{
  display: none;
}

@media screen and (min-width: 769px) {
  .title {
    width: 400px;
    height: 44px;
    display: flex;
    margin: 0 0 24px 20px;

    h1{
        color: var(--Primary);
        font-size: 34px;
        font-weight: 600;
        line-height: 44px;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
  }

  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 95px;
    padding: 0 10px;
    gap: 24px;
  }

  .btns {
    width: 100%;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 24px;
    border-radius: 12px;
    background: var(--Grey);
    padding: 12px;

    button {
        min-height: 32px;
        display: flex;
        align-items: center;
        padding: 0 18px;
        border-radius: 8px;
        color: var(--TypeLowEmphasis);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        padding: 12px;
    }

    .btnActive {
        background-color: var(--Primary);
        color: var(--Bright);
    }
  }
}

@media only screen and (min-width: 920px) {
  .container {
    padding-bottom: 233px;
  }

  .wrapper {
    padding: 0 20px;
  }
}