@media only screen and (max-width: 360px) {
    .container {
        .btns {
            padding-left: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        button {
            width: 120px;
            display: flex;
            padding: 6px 18px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
        }
            
        .btnActive {
            background-color: var(--Primary);
            color: var(--Bright);
        }
    }
}

@media screen and (min-width: 360px) and (max-width: 768px) {
 .container {
  width: 100%;
  padding-bottom: 75px;


  .btns {
   display: flex;
   width: 95vw;
   padding: 4px;
   flex-direction: row;
   margin: 0 auto;
   border-radius: 12px;
   background: var(--Grey);
  }

  button {
   display: flex;
   padding: 6px 18px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 8px;
  }

  .btnActive {
   background-color: var(--Primary);
   color: var(--Bright);
  }
 }
}

@media only screen and (min-width: 769px) {
 .container {
  width: 60.3vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 95px;
  padding: 0 20px;
  gap: 24px;


  .btns {
   width: 100%;

   display: flex;
   align-items: center;
   padding: 12px 16px;
   gap: 24px;
   border-radius: 12px;
   background: var(--Grey);

   button {

    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 8px;
    color: var(--TypeLowEmphasis);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
   }

   .btnActive {
    background-color: var(--Primary);
    color: var(--Bright);
   }
  }
 }

 @media screen and (min-width: 918px) {
  .container {
   width: 69.3vw;


  }
 }
}