.container {
    display: none;
}

@media only screen and (min-width: 769px) {
    .container {
        width: 100%;
        display: block;
    }
    .wrapper {
        display: block;
        padding: 0 20px;

        .h1 {
            color: var(--Primary);
            font-size: 34px;
            font-weight: 600;
            line-height: 44px;
            margin-top: 24px;
        }
    }

    .heroBanner {
        width: 100%;
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 46px;

        img {
            max-width: 100%;
        }
    }

    .history {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 49px;

        span {
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
        }

        :first-child {
            color: var(--Primary);
            cursor: pointer;
        }

        :last-child {
            color: var(--TypeLowEmphasis);
        }
    }

    .display {
        width: 100%;
        display: flex;
        gap: 32px;
        margin-top: 42px;
    }

    .displayOptions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    
    .showing {
        display: flex;
        align-items: center;
        gap: 13ox;
    }
    
    .buttons {
        display: flex;
        align-items: center;
        gap: 74px;
    }
    
    .toShow {
        display: flex;
        align-items: center;
        gap: 4px;
    
        span {
            color: var(--TypeHighEmphasis);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
        }
    
        div {
            width: 56px;
            height: 52px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background: var(--Grey);
    
            input {
                display: flex;
                max-width: 56px;
                padding: 12px 16px;
                background-color: transparent;
                border: none;
                outline: none;
    
                color: var(--TypeLowEmphasis);
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
    
                cursor: pointer;
            }
        }
    }
}