.wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.option {
    display: flex;
    align-items: center;
    gap: 8px;

    span {
        color: var(--TypeLowEmphasis);
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
    }
}