:root {
  --Primary: #1b4b66;
  --PrimaryTint: #639599;
  --Error: #b00020;
  --Highlight: #ff8c4b;
  --Accent: #f4f4f4;
  --Dark: #13101e;
  --Bright: #ffffff;
  --Grey: #f1f1f1;
  --LightText: #b6b6b6;
  --TypeHighEmphasis: #171520;
  --TypeLowEmphasis: #626262;
  --MajorVibrant: #ff404b;
  --Seperator: rgba(0, 0, 0, 0.12);
}

p,
a,
button,
input,
select,
span,
h1,
h2,
li,
ul,
h3,
h4,
textarea {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}