@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

    div {
      h1 {
        color: var(--Primary);
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        padding-top: 180px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .input_bx {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px 15px;
    position: relative;

    input {
      min-width: 90%;
      padding: 10px;
      background-color: var(--Grey);
      border-radius: 20px;
      outline: none;
      font-size: 1rem;
      border: 0;
    }
    .email {
      position: absolute;
      top: 23px;
      right: 57px;
    }
    .password {
      position: absolute;
      top: 23px;
      right: 57px;
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    button {
      padding: 0.95rem 5.25rem;
      border-radius: 10rem;
      color: var(--Bright);
      font-weight: bold;
      text-transform: uppercase;
      font-size: clamp(14px, 3.88vw, 20px);
      border: 0;
      background-color: var(--Primary);
      margin-bottom: 15px;

      p {
        color: var(--Dark);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;

        .link {
          color: var(--Primary);
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .container {
    width: 100%;
    height: 100vh;
    background: url("../../assets/imgs/imagemLogin.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    .modal {
      background-color: #fff;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      width: 40%;
      height: 55vh;
      position: absolute;
      top: 20%;
      left: 40px;

      h1 {
        background: linear-gradient(90deg, #416fb4 0%, #1a234b 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: clamp(34px, 2.88vw, 20px);
        font-style: normal;
        font-weight: 700;
        padding-top: 40px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .input_bx {
    width: 28vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;

    input {
      width: 100%;
      min-width: 70%;
      height: 50px;
      padding: 10px 5px 0 10px;
      border: 2px solid #7f8fa6;
      outline: none;
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid var(--Primary);
    }
    .email {
      background-color: var(--Bright);
      position: absolute;
      top: 25px;
      right: 1px;
    }
    .password {
      background-color: var(--Bright);
      position: absolute;
      top: 25px;
      right: 1px;
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    button {
      display: inline-block;
      padding: 0.95rem 5.25rem;
      border-radius: 10rem;
      color: var(--Bright);
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border: 0;
      margin-top: 30px;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #1a234b 0%, #416fb4 100%);
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(90deg, #6371ac 0%, #584cc4 100%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: var(--Bright);
        transform: scale(1.02);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        &:before {
          width: 100%;
        }
      }
    }
  }

  p {
    color: var(--Dark);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    padding-top: 10px;

    .link {
      color: var(--Primary);
    }
  }
}

@media screen and (min-width: 828px) {
  .container {
    .modal {
      h1 {
        font-size: clamp(44px, 2.88vw, 20px);
      }
    }
  }
}
