.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .3);
    z-index: 1000;
}

.close {
    width: 100%;
    height: calc(100% - 325px);
}

.modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 16px 22px;
    background-color: var(--Bright);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        color: var(--TypeLowEmphasis);
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
    }

    .divider {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.12);
    }
}

@media only screen and (min-width: 769px){
    .wrapper {
        display: none;
    }
}