.HeroBannerHomeContainer::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .secondBanner {
    padding-bottom: 5px;
    p {
      margin-left: 16px;
      color: var(--TypeHighEmphasis);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
    }
  }
  .HeroBannerHomeContainer {
    display: flex;
    overflow-y: scroll;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8px 8px 0 16px;
    gap: 8px;
    margin-bottom: 25px;

    .HeroBannerHomeMob {
      position: relative;
      width: 328px;
      height: 120px;
      flex-shrink: 0;

      img {
        border-radius: 8px;
        background: #d8dbde;
        image-rendering: auto;
      }
    }

    .HeroBannerHomeWeb {
      display: none;
    }
  }

  .HeroBannerHomeMob2 {
    position: relative;
    width: 328px;
    height: 125px;
    flex-shrink: 0;

    img {
      border-radius: 8px;
      background: #d8dbde;
    }
  }
}

@media screen and (min-width: 721px) {
  .HeroBannerHomeContainer {
    display: flex;
    width: 98vw;
    max-width: 1240px;
    max-height: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 24px;

    .HeroBannerHomeWeb {
      display: flex;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1240px;
      width: 98vw;
      height: 31.25vw;
      max-height: 400px;
      background: url("../../assets/imgs/heroBannerHomeWeb.jpg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 8px;

      .descriptionBtn {
        max-height: 44px;

        height: 5vw;
        position: absolute;
        bottom: 23.7%;
        left: 43vw;
        display: flex;
        padding: 0 37.5px;
        justify-content: center;
        align-items: center;
        margin-left: 3vw;
        border-radius: 8px;
        background: var(--Primary);

        img {
          width: 24px;
          height: 24px;
          flex-shrink: 0;
        }

        p {
          color: var(--Bright);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }
    }

    .HeroBannerHomeMob,
    .HeroBannerHomeMob2 {
      display: none;
    }
  }
}

@media screen and (min-width: 1666px) {
  .HeroBannerHomeContainer {
    .HeroBannerHomeWeb {
      .descriptionBtn {
        left: 560px;
        padding: 0 190.5px;
      }
    }
  }
}
