.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  padding: 18px 16px 14px 16px;
  gap: clamp(13px, 1.87vw, 24px);
  background-color: var(--Primary);

  .all {
    display: flex;
    flex-direction: column;
    gap: 4.44vw;
    margin-top: 0 auto;
  }

  p {
    color: var(--Bright);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
  }

  .column {
    display: flex;
    align-items: flex-start;
    gap: 4.44vw;

    img {
      width: 43.33vw;
      height: 41.66vw;
    }
  }
}

@media only screen and (min-width: 420px) {
  .container {
    .all {
      flex-direction: row;
      margin: 0 auto;
      max-width: 100%;
      overflow: scroll;
      gap: 2vw;

      
    }
    .all::-webkit-scrollbar{
      display: none;
    }

    p {
      font-size: 2.64vw;
      line-height: 3.43vw;
    }

    .column {
      display: flex;
      align-items: flex-start;
      gap: 2vw;

      img {
        width: clamp(156px, 21.85vw, 284px);
        height: clamp(156px, 21.85vw, 284px);
      }
    }
  }
}

@media only screen and (min-width: 710px) {
  .container {
    margin-bottom: 67px;
    .all {
      overflow: unset;
      gap: 3.1vw;

      .column {
        gap: 3.1vw;
      }
    }
  }
}
