.addBagBtn {
    display: flex;
    width: 100%;
    max-width: 270px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid var(--Primary);

    img {
        width: 24px;
        height: 24px;
    }

    span {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
    }
}

.light {
    background: var(--Bg);

    span {
        color: var(--Primary);
    }
}

.dark {
    background: var(--Primary);

    span {
        color: var(--Bright);
    }
}

@media screen and (min-width: 769px) {
    .addBagBtn {
        max-width: 330px;
    }
}