.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--Bright);

    span {
      color: var(--TypeHighEmphasis);
      font-size: clamp(14px, 2.65vw, 18px);
      font-weight: 600;
      line-height: clamp(16px, 3.43vw, 20px);
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  .content {
    display: block;
    padding: 0 16px 16px;
  }

  .footer{
    display: block;
  }

  .textFooter{
    color: var(--TypeLowEmphasis);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  
  .separator {
    width: 53vw;
    height: 1px;
    background: var(--Seperator);
    margin-bottom: 29px;
  }
}
