.qty {
  display: none;
}

@media screen and (min-width: 769px) {
  .qty {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    order: 7;
    .btn {
      display: flex;

      border-radius: 4px;
      border: 1px solid var(--Primary);
      justify-content: center;
      align-items: center;
      button {
        display: flex;
        background: none;
        padding: 4px 9px;
      }
    }
  }
}
