.container {
  display: none;
}

@media screen and (min-width: 769px) {
  .imgs {
    display: flex;
    flex-direction: column;
  }
  .container {
    display: flex;
    flex-direction: row;
    margin: 24px auto;

    .left {
      transform: rotate(180deg);
    }

    div {
      display: flex;
      gap: 31px;
      button {
        border-radius: 8px;
        img {
          width: 75px;
          height: 75px;
          border-radius: 8px;
        }
      }
    }
    .arrow {
      margin: 16px;
      display: flex;
      align-items: center;
      button {
        width: 24px;
        height: 24px;
        background: none;

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}
