@media only screen and (max-width: 768px) {
  .payment {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    .toggleContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      h1 {
        color: var(--TypeHighEmphasis);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
      }
      img {
        margin-left: 8px;
      }
    }
  }
  .optionsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    .option {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
    }
  }
  .container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    .contentPayment {
      width: 100%;
      display: flex;
      align-items: center;
      //justify-content: space-between;

      gap: 12px;

      .box {
        width: 32px;
        height: 32px;

        border-radius: 4px;
        border: 1px solid var(--grey, #f1f1f1);
      }
    }
  }

  .center {
    width: 100%;
    height: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    .contentUPI {
      width: 328px;
      height: 142px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
  }

  .inputWrapper {
    position: absolute;
    top: 16px;
    left: 16px;

    input {
      display: flex;
      padding: 16px 96px 16px 16px;
      align-items: center;
      gap: 12px;
      border-radius: 4px;
      background: var(--Grey);
      border: 0;
    }
    input::placeholder {
      color: var(--TypeLowEmphasis);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
    p {
      color: var(--LightText);
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      margin-top: 2px;
    }
  }

}
